body {
    background: brown
}

.box {
    position: relative; 
    margin: auto;
    display: block;
    margin-top: 0%;
    width: 500px;
    height: 500px;
    background: none; 
}

.base-circle {
    position: absolute;
    top:12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    background: #DDCA66;
    border-radius: 50%;
  }

  .left-ear {
    border-radius: 50%;
    position: absolute;
    width: 12%;
    height: 20%;
    left: 15%;
    top: 20%;
    background: #D0782A;
  }

  .right-ear {
    border-radius: 50%;
    position: absolute;
    width: 12%;
    height: 20%;
    right: 15%;
    top: 20%;
    background: #D0782A;
  }

  .face-vertical {
    border-radius: 50%;
    position: absolute;
    width: 60%;
    height: 80%;
    left: 20%;
    top: 10%;
    background: #D0782A;
  }

  .face-bottom {
    border-radius: 50%;
    position: absolute;
    width: 80%;
    height: 50%;
    left: 10%;
    bottom: 10%;
    background: #D0782A;
  }

  .cap-rectangle {
    position:absolute;
    width:44%;
    height:20%;
    left: 28%;
    top: 10%;
    background: black;
    border-radius: 10%;
  }

  .cap-hemisphere {
    position:absolute;
    width:35%;
    height:25%;
    left: 32.5%;
    top: 2%;
    background: brown;
    border-radius: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }